version: '3.8'

services:
  talwar-app:
    build: .
    container_name: talwar_backend
    ports:
      - "5000:5000"
    environment:
      - QDRANT_HOST=qdrant_db
      - FLASK_APP=app.py
      # If you have an API key for Flask, add it here:
      - FLASK_SECRET_KEY=your_secret_key
    volumes:
      # ---------------------------------------------------------
      # MAGIC LINE: Maps your local 'Models' to container 'model'
      # ---------------------------------------------------------
      - ./Models:/app/model
      
      # Persist DB and Uploads
      - ./rag.db:/app/talwar_chat_app.db
      - ./uploaded_docs:/app/uploaded_docs
    depends_on:
      - qdrant_db

  qdrant_db:
    image: qdrant/qdrant:latest
    container_name: talwar_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage